@import url('https://fonts.googleapis.com/css?family=Noto+Sans+CJK+KR');
@import url('http://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css');

html, body, h1, h2, h3, h4, h5, h6, li, p {font-family: 'Noto Sans CJK KR', sans-serif;}

code codep {font-family: 'D2 coding', monospace;}

.remark-slide-number {
  display: none;
}

.title-slide {
  background-image: url(https://user-images.githubusercontent.com/6179259/52895090-97351680-31f8-11e9-9098-4ab4feb0dfda.png);
  background-size: cover;
}

.title-slide h4 {
  text-shadow: none;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 6.2em;
  margin-bottom: 0em;
  margin-left: 3.3em;
}

.title-slide h3 {
  text-shadow: none;
  color: #F0234B;
  font-size: 1.8em;
  font-weight: bolder;
  margin-top: -0.1em;
  margin-bottom: 0em;
  margin-left: -0.7em;
}

.title-slide h2 {
  text-shadow: none;
  color: #FFFFFF;
  font-size: 4em;
  font-weight: bold;
  margin-top: -0.1em;
  margin-left: 0.1em;
}

.chapter-slide {
  background-image: url(https://user-images.githubusercontent.com/6179259/52895531-247b6980-31ff-11e9-9d91-616d21b39a78.png);
  background-size: cover;
}

.chapter-slide h4 {
  text-shadow: none;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 11.85em;
  margin-left: 2.5em;
}

.chapter-slide h3 {
  text-shadow: none;
  font-size: 2.3em;
  font-weight: 500;
  margin-top: -0.2em;
}

.content-slide {
  background-image: url(https://user-images.githubusercontent.com/6179259/52895576-03ffdf00-3200-11e9-8e19-9d90e3ab6517.png);
  background-size: cover;
}

.content-slide h4 {
  text-shadow: none;
  font-size: 0.65em;
  font-weight: bold;
  margin-top: -0.65em;
  margin-left: -1em;
}

.content-slide h3 {
  text-shadow: none;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: -0.61em;
  margin-bottom: 0em;
  margin-left: -2em;
}

.content-slide h2 {
  text-shadow: none;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0em;
  margin-left: -1em;
}

.content-slide p {
  margin-bottom: 0em;
}

.blank-slide {
  background-image: url(https://user-images.githubusercontent.com/6179259/52909190-9ae39e80-32c7-11e9-8dd9-8653068a73e7.png);
  background-size: cover;
}

.blank-slide h3 {
  text-shadow: none;
  font-size: 2.3em;
  font-weight: 500;
  margin-top: -0.2em;
}

.end-slide {
  background-image: url(https://user-images.githubusercontent.com/6179259/52919252-a4125100-3343-11e9-9f3c-75676b337317.png);
  background-size: cover;
}

.large .remark-code { font-size: 130% }
.larg .remark-code { font-size: 120% }
.lar .remark-code { font-size: 110% }
.small .remark-code { font-size: 70%  }
.tiny .remark-code { font-size: 40%  }

.large { font-size: 130% }
.larg { font-size: 120% }
.lar { font-size: 110% }
.small { font-size: 70%  }
.tiny { font-size: 40%  }

.blue { color: #3b5998; }
.yellow { color: #FFCB01; }
.gray { color: #7f7f7f; }
.black { color: #000000;}
.point { color: #F0234B; }

.point .remark-code { color: #F0234B; }

.codep {}

.remark-inline-code{
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}
